body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    width: 1200px;
    max-width: 95%;
    margin: 30px auto 0;
    padding: 0 20px;
}
/*header-start*/
span {
    color: orange;
}

.navbar {
    background: white; /*Задает белый фон блоку*/
    border-radius: 10px;  /*Закругляет углы, 10пх = мягкие, современные углы*/
    padding: 18px 30px;  /*Внутренние отступы. 18пх - сверху и снизу, 30пх - слева и справа*/
    display: flex;  /*Включает флексбокс, все элементы внутри становятся в одну линию*/
    align-items: center;  /*Выравнивает элементы по вертикали*/
    justify-content: space-between;  /*Раскидывает элементы по горизотали*/
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);  /*Добавляет тень:
    0 - смещение по Х(влево/вправо)
    4пх - вниз
    15пх - размытие
    rgba(0,0,0,0.15) - цвет*/
}

.header-logo {
    font-size: 30px;
    font-weight: bold;
    min-width: 220px; /*Минимальная ширина элемента, элемент не станет уже, чем я указал*/
}

.header-menu {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex: 1;
}

.header-menu a {
    font-size: 18px;
    text-decoration: none;
}

.input {
    min-width: 220px;
    display: flex;
    justify-content: flex-end;
}

.search {
    padding: 8px 12px;
    width: 240px;
}
/*header-finished*/

/*Body main-start*/
.main{
    text-align: center;
    margin-top: 90px;
    margin-bottom: 60px;
}

.main-text h1{
    font-size: 68px;
    margin-bottom: 20px;
    
}

.second-text p{
    color: gray;
    font-size: 28px;
}

.card{
    margin-top: 40px;
    max-width: 700px;
    margin: 40px auto;
}

.card-row{
    display: flex;
    gap: 28px;

}

.shadow1{
    flex: 1;
    background: white;
    border-radius: 16px;
    padding: 40px 30px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    min-height: 250px;
}

.shadow2{
    flex: 1;
    background: white;
    border-radius: 16px;
    padding: 40px 30px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    min-height: 250px;
}

.icon{
    font-size: 48px;
    color: #6da0ff;
    margin-bottom: 25px;
}

.shadow1 h2{
    font-size: 22px;
    margin-bottom: 25px;
}

.shadow2 h2{
    font-size: 22px;
    margin-bottom: 25px;
}

.shadow1 p{
    color: #757b86;
    font-size: 16px;
    line-height: 1.6;
}

.shadow2 p{
    color: #757b86;
    font-size: 16px;
    line-height: 1.6;
}
/*Body main-finished*/
